# 01.intro

## 단축키

- ctrl + enter : 현재의 셀을 실행
- shift + enter : 현재의 셀을 실행 & 다음 셀로 이동
- alt + enter : 현재의 셀을 실행 & 새로운 셀을 추가

## 팁
- jupyter에서 실행은 셀 좌측 번호 순으로 실행된다.
- Kernel에서 실행 순서를 초기화 할 수 있다.
- `*`은 셀이 실행중임을 의미한다.

In [ ]:
#주석입니다.

## 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 영어, 숫자, `_`를 이용하여 선언
- 키워드는 사용불가

In [8]:
a = 10

In [9]:
a

10

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [11]:
a = 100

In [12]:
a

100

In [15]:
type(a) #()가 무슨 타입인지 나타냄. 위에서 a는 100 즉, 정수임을 나타내게 됨.

int

In [16]:
b = 1.1

In [17]:
b

1.1

In [19]:
type(b) #b는 1.1 즉, 소수임을 나타내게 됨.

float

In [26]:
c = 1-4j

In [27]:
c

(1-4j)

In [28]:
type(c) #c는 1-4j 즉, 복소수임을 나타내게 됨.

complex

In [29]:
c.real #복소수에서 실수 부분을 나타냄.

1.0

In [31]:
c.imag #복소수에서 허수 부분을 나타냄.

-4.0

### 1.2 Boolean
`True`, `False`로 이루어진 타입

In [32]:
a = True

In [34]:
type(a)

bool

### 1.3 None
데이터가 없음을 의미

In [35]:
a = None

In [36]:
type(a)

NoneType

### 1.4 String
- 문자열은 `'`,`"`를 이용하여 표현

In [37]:
a = 'hello'

In [38]:
type(a)

str

In [39]:
b = "world"

In [40]:
type(b)

str

In [48]:
age = input() #input()는 () 안의 데이터를 의미. 단, str 데이터.

 111111

In [49]:
age

'111111'

In [50]:
type(age)

str

In [52]:
print('안녕하세요?' 이지호'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3629998706.py, line 1)

In [53]:
print("안녕하세요? '이지호'입니다.")

안녕하세요? '이지호'입니다.

In [55]:
print('안녕하세요? \'이지호\'입니다.')

안녕하세요? '이지호'입니다.

In [61]:
a = '''
여기는 문자열 입니다.
여러줄을 작성할 수 있습니다.
'''
#'''를 사용해 여러줄을 만들 수 있음.

In [62]:
a

'\n여기는 문자열 입니다.\n여러줄을 작성할 수 있습니다.\n'

In [63]:
print(a)

여기는 문자열 입니다.
여러줄을 작성할 수 있습니다.

In [64]:
print('하나','둘','셋')

하나 둘 셋

#### string interpolation

1. %-fomtting
2. str.format()
3. f-string

In [67]:
age = 10

In [72]:
print('홍길동은 %s살입니다.'%age) #%s부분에 %<변수이름>를 나타냄

홍길동은 10살입니다.

In [73]:
print('홍길동은 {}살입니다.'.format(age)) #{}안에 .format(<변수이름>)를 나타냄

홍길동은 10살입니다.

In [75]:
print(f'홍길동은 {age}살입니다.') #{<변수이름>}을 나타냄

홍길동은 10살입니다.

## 연산자

### 2.1 산술연산자

In [77]:
a = 2
b = 3

In [79]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

5
-1
6
0.6666666666666666

In [81]:
print(a ** b) #a를 b번 곱함 (지수)
print(a // b) #a를 b로 나눈 몫을 출력
print(a % b) #a를 b로 나눈 나머지를 출력
print(divmod(a, b)) #a를 b로 나누고 몫과 나머지를 출력

8
0
2
(0, 2)

### 2.2 비교연산자

In [82]:
a = 5
b = 10

In [86]:
print(a > b) #비교연산자는 boolean을 물어봄
print(a < b) 
print(a >= b) #같거나 큰지
print(a <= b) #같거나 작은지
print(a == b) #양쪽의 데이터가 같은지 비교
print(a != b) #양쪽의 데이터가 다른지 비교

False
True
False
True
False
True

In [88]:
print('hi' == 'hi')
print('hi' != 'Hi')

True
True

### 2.3 논리연산자
- `and` : 양쪽 모두 `Ture`일 때, True를 반환
- `or` : 양쪽 모두 `False`일 때, False를 반환
- `not` : 값을 반대로 전환

In [91]:
print(True and True) # and는 둘 중 하나라도 False면 False를 반환
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [92]:
print(True or True) # or은 둘 중 하나라도 True면 True를 반환
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [99]:
print(True)
print(not True) # not은 반대로 바꿈

a = True
print(not a)

True
False
False

In [105]:
# 단축평가(and)
print(3 and 5) #앞의 데이터가 True이고 뒤의 데이터가 True인데 마지막 True를 반환.
print(3 and 0)
print(0 and 5) #앞의 데이터가 False이므로 False를 바로 반환. 뒤의 데이터 중요하지 않음.
print(0 and 0)

5
0
0
0

In [106]:
# 단축평가(or)
print(3 or 5) #앞의 데이터가 True이므로 True를 바로 반환. 뒤의 데이터 중요하지 않음
print(3 or 0) 
print(0 or 5)
print(0 or 0) #앞의 데이터가 False이고 뒤의 데이터가 False인데 마지막 False를 반환.

3
3
5
0

### 2.4 복합연산자

In [109]:
a = 2
b = 3

In [114]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a ** b
a = a // b
a = a % b

In [115]:
print(a)

2.0

In [116]:
a += b
a -= b
a *= b
a /= b
a **= b
a //= b
a %= b

In [117]:
print(a)

2.0

### 2.5 기타연산자

In [126]:
a = 'hi, '
b = 'bro'

In [128]:
# concatenastion
a + b

'hi, bro'

In [129]:
a = [1, 2, 3]
b = [4, 5, 6]

In [130]:
a + b

[1, 2, 3, 4, 5, 6]

In [132]:
print('a' in 'apple') #앞의 문자가 뒤의 문자에 들어있는지 물음
print('z' in 'apple')
print(1 in [1, 2, 3])
print(0 in [1, 2, 3])

True
False
True
False

In [137]:
a = 123123
b = 123123
print(a is b) # a와 b의 메모리 주소가 다르기 때문에 a와 b는 같지 않음

a = 10
b = 10
print(a is b) # (-5~256은)python에서 이미 할당 되어있기에 a와 b의 주소가 같아서 서로 같다고 봄

False
True

#### 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, is, in
5. not
6. and, or

In [139]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환

### 3.1 암시적 형변환

In [140]:
a = True
b = False
c = 1

In [142]:
print(a + c) #True는 1로 바뀜
print(b + c) #False는 0으로 바뀜

2
1

In [143]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [144]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

### 3.2 명시적 형변환

In [145]:
a = 1
b = '번'

In [146]:
print(str(a) + b)

1번

In [148]:
a = '100'
print(type(int(a)))

<class 'int'>

In [150]:
age = input()
print(type(age))

 28

<class 'str'>

In [151]:
a = '3.3'

In [152]:
type(float(a))

float

In [153]:
a = 1
b = 0
c = 100

In [158]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [163]:
print(bool('')) #공백이기 때문에 False 출력
print(bool('a'))

False
True

In [162]:
print(bool([])) #공백이기 때문에 False 출력
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. 단, 순서대로 나열되어있다는 것은 정렬된 것과는 다르다.

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 List(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [164]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [167]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[0]) # 왼쪽에서부터 셈
print(location[-1]) # 오른쪽에서부터 셈

location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
서울
부산
['서울', '대전', '제주']

### Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- lsit와 유사하지만 수정불가능(immutable)하다.

In [168]:
t = (1, 2, 3)
print(t)
print((type(t)))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [170]:
t[2] = 100 # tuple은 데이터 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [174]:
result = divmod(9 ,4)
print(result)
print(type(result))
print(result[0])

(2, 1)
<class 'tuple'>
2

In [180]:
x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y) # 변수의 데이터를 스왑

1 2
2 1

### 4.3 range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [181]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [182]:
r = range(5, 15)
print(r)

range(5, 15)

In [185]:
r = range(5, 15, 2)
print(r)

range(5, 15, 2)

In [188]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 string
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [190]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range= range(1, 10, 2)
my_string = '일이삼사오'

In [191]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

In [194]:
# slicing
print(my_list[1:3]) # 1번째 데이터 ~ (3-1)번째 데이터까지
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [197]:
print(my_list[1:4:2]) # 1~3번째 데이터까지 중 2칸 간격으로 출력
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [199]:
print(my_list[ :3]) # 앞의 공백은 처음부터를 의미
print(my_list[3: ]) # 뒤의 공백은 끝까지를 의미

[1, 2, 3]
[4, 5]

In [203]:
# in
print(1 in my_list) # in 데이터가 시퀀스 안에 존재하는지 물음
print(1 in my_tuple)
print(1 in my_range)
print('일' in my_string)

True
False
True
True

In [205]:
# not in
print(1 not in my_list) # in 데이터가 시퀀스 안에 존재하지 않는지 물음
print(1 not in my_tuple)
print(1 not in my_range)
print('일' not in my_string)

False
True
False
False

In [206]:
# concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

In [209]:
# *
print(my_string * 3)
print(my_list * 3)

print([[0] * 3] * 3)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [210]:
len(my_list)

5

In [211]:
min(my_tuple)

11

In [212]:
max(my_range)

9

In [214]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조
### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [215]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [218]:
print(my_set_a - my_set_b) # 차집합. 앞의 집합에서 뒤의 집합과의 교집합을 뺌.
print(my_set_a | my_set_b) # 합집합
print(my_set_a & my_set_b) # 교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [219]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 2, 2]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8}

### 5.2 dictionary
- 선언 : 변수이름 = {key1 : value1, key2 : value2, key3 : value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이뤄져있다.
- key에는 immutable한 모든 값을 사용가능. (불변값 : string, intger ...)
- value에는 모든 데이터 가능. (list, dict ...)

In [221]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [225]:
dict_a = {
    'name': 'jiho', 
    'age': 28,
    'location' : 'seoul',
    'numbers' : [1, 2, 3, 4, 5],
    'friends': {
        'a': 27,
        'b': 29,
    },
}

print(dict_a['age'])
print(dict_a['numbers'])
print(dict_a['numbers'][3])

print(dict_a['friends']['b'])

28
[1, 2, 3, 4, 5]
4
29

In [228]:
print(dict_a.keys()) #dict 안의 key 목록을 확인
print(dict_a.values()) # dict 안의 values 목록을 확인

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])
dict_values(['jiho', 28, 'seoul', [1, 2, 3, 4, 5], {'a': 27, 'b': 29}])

## 데이터 타입

1. Number
2. Boolean
3. String

## 자료구조

- 시퀀스 자료형
  1. [list] : mutable
  2. (Tuple) : immutable
  3. range() :immutable
  4. 'String' : immutable

- 시퀀스가 아닌 자료형
  1. {Set} : mutable
  2. {Dic:tionary} : mutable