# 제어문

## 조건문(if문)

```python
if <조건식>: 
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드

```

1. `if`문은 반드시 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다.
2. `조건식`이 참인 경우 `:` 이후의 문장을 실행한다.
3. `조건식`이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [4]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/25

크리스마스입니다.

In [22]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 0:
    print(f'{num}은(는) 짝수입니다.')
else:
    print(f'{num}은(는) 홀수입니다.')

숫자를 입력해주세요 :  6

6은(는) 짝수입니다.

In [21]:
# num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
# if 조건식에 0, 1은 자동형변환이 일어나 False, True로 변환된다.
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2:
    print(f'{num}은(는) 홀수입니다.')
else:
    print(f'{num}은(는) 짝수입니다.')

숫자를 입력해주세요 :  5

5은(는) 홀수입니다.

### elif

```python
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [45]:
# 90점 이상 A (95점 이상이라면 good 추가)
# 80점 이상 B
# 70점 이상 C
# 나머지 F


score = int(input('점수를 입력해주세요. :'))
m1 = '당신은'
m2 = '학점입니다.'
grade = ''
message = ''

if score >= 90:
    grade = 'A'
    if score >= 95:
        message = 'good'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'F'
print(m1, grade, m2, message)

점수를 입력해주세요. : 90

당신은 A 학점입니다.

### 조건표현식
```python
true_value if <조건식> else false_value
```

In [2]:
print('True') if 1 < 2 else print('False')

True

In [4]:
if 1 < 2:
    print('True')
else:
    print('False')

True

In [ ]:
# 위의 두 코드는 완전히 같은 코드임

In [6]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

5

In [10]:
num = 5
value = num if num >= 0 else 0  #가장 먼저 나오는 등호는 가장 나중에 인식됨.
print(value)

5

In [11]:
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [13]:
num = 10
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

## 반복문

### while 문
```python
while <조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [2]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  하이용
안녕이라고 해줘 :  안녕

### for 문

정해진 범위 내의 반복
```python
for vaiable in sequence:
        실행할 코드
```

In [3]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [4]:
word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  hi

h
i

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [16]:
# 1. 1~30까지 숫자 중에서 홀수를 출력
# 2. 1~30까지 숫자 중에서 홀수를 모아서 리스트로 출력

result = []
for i in range(31):
   result.append(i) if i % 2 == 1 else ''

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [23]:
menus = ['라면', '김밥', '떡볶이', '돈까스']

for menu in menus:
    print(menu)

라면
김밥
떡볶이
돈까스

In [24]:
for i in range(3):
    print(menus[i])

라면
김밥
떡볶이

In [25]:
for i in range(len(menus)):
    print(menus[i])

라면
김밥
떡볶이
돈까스

In [26]:
for item in enumerate(menus):
    print(item)

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돈까스')

In [28]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이
3 돈까스

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.valuse():
4. for key, value in dict.item():

In [30]:
info = {
    'name': 'jiho',
    'location': 'seoul',
    'phone': '010-1234-1234',
}

In [37]:
for key in info:
    print(key)
    print(info[key])

name
jiho
location
seoul
phone
010-1234-1234

In [44]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [45]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [50]:
result = 0
for value in blood_type.values():
    #print(value)
    result += value
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [52]:
for item in blood_type.items():
    print(item[0])
    print(item[1])

A
5
B
4
O
2
AB
3

In [54]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

#### break
반복문을 종료시키는 키워드

In [57]:
for i in range(100):
    print(i)
    if i > 10:
        print('over 10!!')
        break

0
1
2
3
4
5
6
7
8
9
10
11
over 10!!

In [62]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리', '보리', ]
# 쌀이 나오는 순간 잡았다! 

for i in rice:
    print(i)
    if i != '보리':
        print('잡았다. 요놈!')
        break

보리
보리
보리
보리
쌀
잡았다. 요놈!

#### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [65]:
for i in range(10):
    if i % 2:
        continue
    
    print(i)

0
2
4
6
8

In [67]:
age = [10, 23, 3, 32, 41, 67]

for a in age:
    if a < 20:
        continue
    print(f'{a}살은 성인입니다.')

23살은 성인입니다.
32살은 성인입니다.
41살은 성인입니다.
67살은 성인입니다.

#### else
else문은 끝까지 반복이 진행이 된 후 실행합니다. (break를 만나지 않은 경우)

In [70]:
for i in range(10):
    print(i)
    if i > 10:
        break

else:
    print('break 못 만남')

0
1
2
3
4
5
6
7
8
9
break 못 만남

In [72]:
numbers = [1, 2, 3, 4, 5,]
print(1 in numbers)
print(10 in numbers)

True
False

In [93]:
numbers = [1, 2, 3, 4, 5,]
target = int(input('target 숫자를 입력해주세요 : '))

# numbers를 반복하다가 target이 있으면 True 출력, 없으면 False 출력

for n in numbers:
    if n == target:
        print('True')
        break
else:
    print('False')

target 숫자를 입력해주세요 :  7

False

#### pass
코드 블럭을 임의로 완성시킴

In [94]:
if True:
    pass

### match
```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드
```

In [96]:
status = 404
match status:
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')  # 위의 case 외의 경우

not found