# 문자열 메소드(함수)

In [2]:
a = 'hello my name is hong'

In [3]:
# 문자열은 immutable하기 때문에 수정 불가능
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [6]:
a = a.capitalize() #시작하는 문자를 대문자로 바꿔줌
print(a)

Hello my name is hong

In [8]:
a.title() # 단어마다 시작하는 문자를 대문자로 바꿔줌

'Hello My Name Is Hong'

In [9]:
a.upper()

'HELLO MY NAME IS HONG'

In [10]:
a.lower()

'hello my name is hong'

In [17]:
my_list = ['hi', 'my', 'name', ]
'/'.join(my_list)

'hi/my/name'

In [31]:
#strip([chars]) / 메소드 설명에서 []는 넣어도 되고 안 넣어도 됨을 의미.

my_string = '     \n hello \n '
print(my_string)
print(my_string.strip())

my_string2 = 'hihihihihihihihihihihellohihihihihi'
print(my_string2.strip())
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

 hello

hello
hihihihihihihihihihihellohihihihihi
ello
ellohihihihihi
hihihihihihihihihihihello

In [35]:
# .replace(old, new[, count])
a = 'woooooow'
print(a.replace('o', '!'))
print(a.replace('o', '!', 4))

w!!!!!!w
w!!!!oow

In [41]:
# .find(x)
a = 'apple'
print(a.find('l'))
print(a.find('z'))

# for i in range(len(a)):
#     if 'z' == a[i]:
#         print(i)
#         break
# else:
#         print(-1)

3
-1
-1

In [ ]:
# index(x)   / find와 비슷하지만 자료가 없을 경우 error를 출력
a = 'apple'
print(a.find('l'))
print(a.find('z'))

In [250]:
# split(x)
a = 'my_name is'
a.split()
a.split('_')

['my', 'name is']

In [55]:
# count(x)
'wooooow'.count('o')

5

# 리스트 메소드

In [117]:
numbers = [1, 5, 2, 6, 2, 1]

In [118]:
# .append(x) / 끝쪽에 데이터를 넣어줌
numbers.append(10)
print(numbers)

[1, 5, 2, 6, 2, 1, 10]

In [119]:
# .extend(iterable) / 연결 
a = [99, 100]

numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 5, 2, 6, 2, 1, 10, 99, 100]
[1, 5, 2, 6, 2, 1, 10, 99, 100, 99, 100]

In [120]:
# .insert(idx, x)  / 원하는 위치에 데이터를 넣음
numbers.insert(3, 3.5)
print(numbers)

[1, 5, 2, 3.5, 6, 2, 1, 10, 99, 100]

In [121]:
# .remove(x) / 원하는 데이터를 앞쪽부터 삭제
numbers.remove(3.5)
numbers.remove(1)
print(numbers)

[5, 2, 6, 2, 1, 10, 99, 100]

In [122]:
# .pop(idx) / 아무것도 안 넣으면 끝에 데이터를 삭제
numbers.pop()
print(numbers)

numbers.pop(0)
print(numbers)

[5, 2, 6, 2, 1, 10, 99]
[2, 6, 2, 1, 10, 99]

In [123]:
# pop을 2번 적으면 어떤 데이터를 삭제했는지 보임
num = numbers.pop() # 위에서 pop한 것들을 num에 저장

print(num)

99

In [126]:
# .sort() / 정렬
numbers = [1, 3, 2, 7, 5]
print(numbers)
print(numbers.sort()) #sort했으면 반환할게 없어서 none을 프린트
print(numbers)
numbers.sort(reverse = True)
print(numbers)

[1, 3, 2, 7, 5]
None
[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]

In [ ]:
# sorted / 원본은 그대로 놔두고 정렬한 것을 반환 / sort는 원본을 바꿈
numbers = [1, 3, 2, 7, 5]
print(sorted(numbers))
print(nubers)

In [134]:
# .reverse() / 뒤집기
numbers = [1, 3, 2, 7, 5,]
numbers.reverse()
print(numbers)
numbers[: 5: -1] #처음부터 5번째까지 역순으로 출력
print(numbers)

[5, 7, 2, 3, 1]
[5, 7, 2, 3, 1]

## list copy

In [135]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [136]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [137]:
copy_list[0] = 100

In [139]:
print(origin_list)
print(copy_list)
# origin_list가 [1, 2, 3]의 주소를 저장하고
# copy_list가 origin_list의 주소를 저장하기에
# 결국 copy_list를 수정하면 origin_list도 수정된 것 처럼 보임

[100, 2, 3]
[100, 2, 3]

In [142]:
# 다음과 같은 방법으로 해결가능
origin_list = [1, 2, 3]
copy_list = list(origin_list)
#copy_list = origin_list[:]

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [144]:
# 2차원 list의 경우
a = [1, 2, [99, 100]]
b = list(a)
b = a[:]


b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [148]:
# 2차원은 아래와 같이 해결하면됨
import copy
a = [1, 2, [99, 100]]
b = copy.deepcopy(a)

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension

In [149]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [150]:
# 각 요소르 세제곱하기(1)

result = []
for number in numbers:
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [152]:
# 각 요소르 세제곱하기(2)

result2 = [ number ** 3 for number in numbers ]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [154]:
# 짝수만 고르기(1)
even_list = []
for number in result2:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

[8, 64, 216, 512, 1000]

In [155]:
# 짝수만 고르기(2)
even_list2 = [ number for number in result2 if number % 2 == 0 ]
print(even_list)

[8, 64, 216, 512, 1000]

In [158]:
# 문제풀이-word에서 자음만을 추출하여 보자.

In [177]:
# 1. for문
words = 'my name is hong'
vowels = 'aeiou'
result = [] 

for char in words:
    if char not in vowels:
        result.append(char)
print(''.join(result))

my nm s hng

In [178]:
# 2. list comprehension
words = 'my name is hong'
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(''.join(result))

my nm s hng

In [180]:
# 3. replace
words = 'my name is hong'
vowels = 'aeiou'
for vowel in vowels:
    words = words.replace(vowel, '')

print(words)

my nm s hng

# 딕셔너리 메소드

In [193]:
info = {
    'name' : 'hong',
    'location' : 'seoul',
}

In [194]:
info['name'] = 'gil'
print(info)

{'name': 'gil', 'location': 'seoul'}

In [195]:
# .pop()
info.pop('location')
print(info)

info.pop('location', 'key가 없습니다.') #봍ㅇ 'key가 없습니다.' 위치에 None을 넣음

{'name': 'gil'}

'key가 없습니다.'

In [196]:
# .update()
info.update(name='dong')
print(info)

{'name': 'dong'}

In [201]:
# .get(key, defalut)
print(info.get('name'))
print(info.get('phone','defalut'))  #해당하는 key가 없을 때
#info['phone']는 None이 아닌 error 처리

dong
defalut

## dict comprehension

In [203]:
# for
# {1: 1, 2: 8, 3: 27, ... }
result = {}
numbers = range(1, 11)
for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [204]:
# comprehension
result2 = { number: number ** 3 for number in range(1, 11)}
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [214]:
# 문제풀이 _ 미세먼지 50 이상만 남도록 표시
dust = {
    '서울' : 100,
    '대구' : 30,
    '부산' : 50,
    '광주' : 80,
    '제주' : 20,
}

In [216]:
# for
result = {}
for k, v in dust.items():
    if v >= 50:
        result[k] = v
print(result)

{'서울': 100, '부산': 50, '광주': 80}

In [218]:
# comprehension
result2 = { k: v for k, v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 50, '광주': 80}

In [219]:
result2 = { k: '나쁨' for k, v in dust.items() if v >= 50}
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

# 세트 메소드

In [220]:
fruits = {'apple', 'banana', 'melon'}

In [227]:
# .add(x)
fruits.add('watermelon')
print(fruits)

{'melon', 'watermelon', 'banana', 'apple'}

In [229]:
# .update({set]) / 시퀀스 데이터를 잘라서 세트에 추가함. set로 추가하면 통으로 추가
fruits.update('grape')
fruits.update({'lemon', 'orange'})
print(fruits)

{'apple', 'watermelon', 'orange', 'banana', 'r', 'e', 'a', 'melon', 'lemon', 'p', 'g'}

In [230]:
# .remove(x)
fruits.remove('orange')
print(fruits)

{'apple', 'watermelon', 'banana', 'r', 'e', 'a', 'melon', 'lemon', 'p', 'g'}

In [231]:
# .pop()
fruits.pop()
print(fruits)

{'watermelon', 'banana', 'r', 'e', 'a', 'melon', 'lemon', 'p', 'g'}

## map, filter, zip

- map(function, iterable)

In [234]:
a = [1, 2, 3]
number_str = map(str, a) # map 객체로 저장됨
print(number_str)
print(list(number_str))

<map object at 0x000001AE5560E7A0>
['1', '2', '3']

In [235]:
result = []
for i in a:
    result.append(i ** 3)
print(result)

[1, 8, 27]

In [236]:
def cube(x):
    return x ** 3

print(cube(5))
print(cube(10))

125
1000

In [237]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [238]:
a = '1 3 5 7 9'
# numbers = [1, 3, 5, 7, 9]
numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(function, iterable)
  - filter에 들어가는 function은 T/F를 반환해야한다.

In [244]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False
    # return bool(x % 2) <- 이런식으로도 가능 
print(is_odd(5))
print(is_odd(10))

True
False

In [241]:
numbers = [1, 2, 3, 4, 5,]

In [242]:
# for
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)
print(result)

[1, 3, 5]

In [243]:
# filter

result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

- zip

In [248]:
a = [1, 2, 3, 4]
b = [100, 200, 300, 400, 500]

In [249]:
result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x000001AE555426C0>
[(1, 100), (2, 200), (3, 300), (4, 400)]